@import url('/static/css/grid.css?e983a563db37');
@import url('/static/css/reset.css?e983a563db37');
@import url('/static/css/material-design.css?e983a563db37');

@font-face {
  font-family: 'Stem';
  src: local("stm_regular"), local("stm_regular"), url("/static/fonts/stm_regular.woff2?e983a563db37") format("woff2"), url("/static/fonts/stm_regular.ttf?e983a563db37") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Stem';
  src: local("stm_bold"), local("stm_bold"), url("/static/fonts/stm_bold.woff2?e983a563db37") format("woff2"), url("/static/fonts/stm_bold.ttf?e983a563db37") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Pfd';
  src: local("Pfd-Reg"), local("Pfd-Reg"), url("/static/fonts/Pfd-Reg.woff2?e983a563db37") format("woff2"), url("/static/fonts/Pfd-Reg.ttf?e983a563db37") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body, html {
    font-family: 'PT Sans', Tahoma, Serif, Arial;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    width: 100%;
    background: #f2f2f2;
}
.left{
    float: left;
}
li{
    vertical-align: top;
}
h1, h2, h3, h4{
    font-family: 'Pfd';
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    font-size: 34pt;
    text-align: left;
}
input, button{
    font-family: 'PT Sans', Tahoma, Serif, Arial;
}
@media screen and (max-width: 1280px) {
    h1, h2, h3{
        font-size: 30pt;
    }    
}
p{
    font-family: 'Pfd';
    font-size: 15pt;
    font-weight: 500;
}
a{
    font-family: 'Pfd';
    font-size: 15pt;
    font-weight: 500;
}
header, nav, footer{
    width: 100%;
}
nav#m-menu{
    z-index: 998;
}
.dark ::-webkit-input-placeholder { /* WebKit browsers */
   color: #777777;
}
.dark :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #777777;
}
.dark ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #777777;
}
.dark :-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #777777;
}
.content{
    background: #f2f2f2;
    min-height: 720px;
}
.m-content{
    margin: 0 auto;
    width: 1260px;
    padding: 0 10px;
    color: #757575;
}
@media screen and (max-width: 1280px) {
    .m-content{
        width: 1040px;
    }
}
.centered{
    text-align: center;
}
.underline {
    display: inline;
    line-height: 20px;
    color: #000;
    cursor: pointer;
    background-image: linear-gradient(to right, #b3b3b3 0%, #b3b3b3 100%);
    background-repeat: repeat-x;
    background-size: 100% 1px;
    background-position: 0 20px
}
.strike {
    display: inline;
    line-height: 20px;
    color: #000;
    cursor: pointer;
    background-image: linear-gradient(to right, #b3b3b3 0%, #b3b3b3 100%);
    background-repeat: repeat-x;
    background-size: 100% 1px;
    background-position: 0 20px
}
.stem, .stem a, .stem p{
    font-family: 'PT Sans', Tahoma, Serif, Arial;
    font-size: 10pt;
    font-weight: 500;    
}
.stem-b{
    font-family: 'Stem';
    font-weight: 800;
}
.bold{
    font-weight: 800;
}
.clear{
    clear: both;
}
.fs-11{
    font-size: 11pt;
}
.fs-12{
    font-size: 12pt;
}
.fs-15{
    font-size: 15pt;
}
.red {
    color: #c81a1b !important
}
.price{
    font-family: 'Stem' !important;
}
.black {
    color: black
}
.taright {
    text-align: right
}
.now{
    color: #555;
    cursor: default;
}
.underline:hover {
    background-image: linear-gradient(to right, #000 0%, #000 100%)
}
button.control{
    padding: 0 23px;
    line-height: 40px;
    border-radius: 3px;
    border: 1px solid #dedede;
    background: #fff;
    box-shadow: 0 4px 20px 0px rgba(80, 44, 44, 0.16);
    transition: all ease 0.15s;    
}
button.control:hover{
    box-shadow: 0 4px 20px 0px rgba(80, 44, 44, 0.02);
}
button.control.red{
    background: #da2525;
    border: none;
    color: #f1f1f1 !important;
    box-shadow: 0 4px 20px 0px rgba(218, 37, 37, 0.45);    
}
button.control.red:hover{
    box-shadow: 0 4px 20px 0px rgba(218, 37, 37, 0);    
}
.text-dark{
    color: #111;
}
.text-dark.tp{
    color: #111;
}
.text-light{
    color: #f0f0f0;
}
.text-light.tp{
    color: #7d7d7d;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 88;
    background: rgba(0,0,0,0.25);
}
.tooltip.pushright {
    left: auto;
    right: 0;
}
section.common{
    height: 103px;
}
nav{
    background: #fff;
    border-bottom: 1px solid #e1e1e1;
}
nav.fixed{
  position: fixed;
  top: 0;
}
nav ul.m-content{
    height: 60px;
}
nav ul.menu > li{
    height: 60px;
    display: inline-block;
    line-height: 59px;
    transition: all ease 0.1s;
    box-shadow: inset 0 -4px 0 0 transparent;
    background: #fff;
}
nav ul.menu > li*{
    line-height: 10px;
}
nav ul.menu > li:not(:first-child){
    margin-left: -4px;
}
nav ul.menu > li:hover{
    box-shadow: inset 0 -4px 0 0 #c81a1b;
}
nav ul a{
    cursor: pointer;
}
nav ul.menu > li > a{
    display: inline-block;
    padding: 0 14px;
    color: #111;
}
nav div.submenu-box{
    position: absolute;
    display: none;
    top: 102px;
    width: 100%;
    left: 0;
    z-index: 888;
    opacity: 0;
    background: #f2f2f2;
    box-shadow: 0px 40px 50px 10px rgba(0,0,0,0.2) , inset 0 3px 0 -2px rgba(0,0,0,0.09);
    transition: display ease 0.1s 0.1s;
}
nav div.submenu-box ul.submenu{
    min-height: 320px;
    padding-top: 25px;
    line-height: 10px;
}
nav.fixed div.submenu-box{
    top: 60px;
}
nav ul.menu > li:hover div.submenu-box{
    display: block;
    opacity: 1;
}
nav .submenu > li{
    display: block;
    float: left;
    width: 18%;
}
nav .submenu > li:not(:first-child), nav .submenu > li:not(:nth-child(n+6)){
    margin-left: 1%;
}
nav .submenu > li{
    cursor: pointer;
}
nav .submenu > li a{
    display: inline-block;
    width: 100%;
    line-height: 18px;
    font-family: 'Stem';
    font-size: 11pt;
    color: #222;
    font-weight: 800;
    margin: 4px 0 4px 0;
    padding-left: 2px;
    border-radius: 0.1px;
    background: transparent;  
    box-shadow: 0 0 0px 3px transparent;
    transition: all ease 0.05s;
}
nav .submenu > li a.level-3{
    font-weight: 500;
    margin: 4px 0;
    font-size: 10pt;
}
nav .submenu > li a:hover{
    background: #dedede;
    box-shadow: 0 0 0px 3px #dedede;
}
header{
    color: #c81a1b;
    background: #1f1f1f;
}
header .m-content{
    height: 42px;
}
.m-content .h-logo{
    display: inline-block;
    width: 108px;
    height: 60px;
    margin-right: 12px;
    background: url('/static/img/tea-logo-d.png?20f7c4767b61') left center no-repeat;
    background-size: contain;
}
.tel-box, .clock-box{
    float: left;
    margin-left: 12px;
    line-height: 39px;
}
.tel-box{
    margin-left: 0;
}
.search-button{
    font-family: 'Pfd';
    font-size: 15pt;
    font-weight: 500;
    color: #f0f0f0;
    display: block;
    float: right;
    line-height: 41px;
    text-align: left;
    text-transform: uppercase;
    background: transparent;
}
.search-box{
    position: fixed;
    width: 100%;
    height: 103px;
    left: 0;
    top: -103px;
    padding: 20px 0;
    background: #1f1f1f;
    z-index: 9999;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: transform ease-out 0.15s;
}
.show{
    transform: translateY(103px);
    -webkit-transform: translateY(103px);
}
.search-box form{
    width: 100%;
}
.search-box form *{
    border-radius: 4px;
}
.search-box form label{
    display: none;
}
.search-box input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.search-box form input{
    -webkit-appearance: none;
    font-family: 'Stem', 'PT Sans', Arial;
    font-size: 18pt;
    font-weight: 500;
    width: calc(99% - 63px);
    line-height: 63px;
    margin: 0;
    padding: 0 20px;
    background: #292929;
    color: #dadada;
}
.search-box form button{
    width: 63px;
    display: block;
    line-height: 63px;
    float: right;
    text-align: center;
    background: transparent;
    font-size: 26pt;
    color: #f0f0f0;
}
footer .tel-box, footer .clock-box{
    margin-left: 0;
    float: right;
    clear: both;
    line-height: 30px;
}
.tel-box:before, .clock-box:before, .search-button:before{
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}
.tel-box a{
    color: #f0f0f0;
    border-bottom: 1px dashed #929292;
}
.clock-box a{
    color: #f0f0f0;
}
nav .cart-box{
    float: right;
    display: inline-block;
    height: 60px;
    line-height: 58px;
    color: #111;
}
nav .cart-box:before{
    font-size: 20px;
    margin-right: 5px;
    color: #111;
}
nav .cart-box a{
    text-transform: uppercase;
    border-bottom: 1px dashed #929292;
}
#counter{
    display: inline-block;
    border-radius: 50%;
    background: #da2525;
    width: initial;
    min-width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: normal;
    line-height: 15px;
    padding: 5px 5px 4px 5px;
    margin-left: 8px;
    color: white;
    text-align: center;
}
nav .fake-overlay, .search-overlay{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;    
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 999;
}
.search-overlay{
    top: 103px;
    background: rgba(0,0,0,0.4);
}
nav .tooltip{
    display: none;
    position: absolute;
    top: 97px;
    left: 50%;
    margin-left: -100px;
    background: white;
    border: 1px solid #bebebe;
    z-index: 1000;
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
nav .tooltip:before{
    content: '';
    display: block;
    background: white;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    width: 10px;
    height: 10px;
    z-index: 1001;
    border-top: 1px solid #bebebe;
    border-left: 1px solid #bebebe;
}
nav .active{
    display: block !important;
}
nav.fixed .tooltip{
    top: 55px;
}
nav .tooltip>* {
    padding: 15px 15px 20px 15px;
}
nav .selected{
    color: #da2525 !important;
    box-shadow: inset 0 -4px 0 0 #c81a1b !important;
}
nav .selected a.level-1{
    color: #da2525 !important;
}
nav .submenu > li a.selected{
    background: #dedede;
    box-shadow: 0 0 0px 3px #dedede !important;
}
.delete{
    float: right;
    width: 14px;
    height: 14px;
    margin-left: 10px;
    background: url('/static/img/icons/i-delete.gif?e983a563db37') no-repeat top left;
    background-size: 14px 28px;
    cursor: pointer;    
}
.delete:hover{
    background-position: bottom left;
}
#minicart.tooltip:before{
    left: auto;
    right: 30px;
} 
#minicart{
    width: 400px;
    line-height: 12pt;
}
#minicart .cart-button{
    display: block;
    float: right;
    font-family: "PT Sans", Tahoma, Serif, Arial;
    font-size: 13pt;
    padding: 8px 45px 10px 45px;
    line-height: 20px;
    border-radius: 3px;
    background: #da2525;
    margin-top: -16px;
    border: none;
    text-transform: lowercase;
    color: #f1f1f1;
    box-shadow: 0 4px 20px 0px rgba(218, 37, 37, 0.45);
    transition: all ease 0.15s;
}
#minicart .cart-button:hover{
    box-shadow: 0 4px 20px 0px rgba(218, 37, 37, 0);
}
#minicart .total{
    background: #f2f2f2;
    border-top: 1px solid #c1c1c1;
    text-align: left;
}
#minicart .total p{
    font-family: 'Stem';
    font-size: 14pt;
    margin-top: 5px;
}
#minicart .total p, .total span{
    display: inline-block;
}
#minicart .content-box{
    max-height: 400px;
    overflow-y: auto;
}
#minicart .empty{
    text-align: center;
}
#minicart .item{
    min-height: 92px;
}
#minicart .item .img{
    width: 92px;
    height: 92px;
    float: left;
    margin-right: 25px;
    background-size: cover; 
    box-shadow: 0 0 0 1px #e8e8e8;
}
#minicart .item:not(:first-child) {
    margin-top: 20px;
}
#minicart .item p, #minicart .item h2{
    margin-bottom: 10px;
}
#minicart .item p{
    font-size: 14pt;
    line-height: 14pt;
}
#minicart .item h2{
    font-size: 14pt;
    line-height: 14pt;
}
footer{
    padding: 25px 0 0 0;
    background: #1f1f1f;
    border-top: 1px solid #757575;
}
footer .connect{
    padding-bottom: 45px;
}
.product{
    min-height: 160px;
}
input[type='checkbox'] {
    width: 18px;
    height: 18px;
    display: none;
}

input[type='checkbox']+label {
    display: block;
    padding-left: 30px;
    position: relative;
    line-height: 20px;
    color: black;
}

input[type='checkbox']+label:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    background: white;
    width: 16px;
    height: 16px;
    border: 1px solid #8e8d94;
    border-radius: 2px
}

input[type='checkbox']+label:hover:before {
    border-color: #74737b;
    box-shadow: 0 0 0 2px #ffb680
}

input[type='checkbox']:checked+label:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 19px;
    height: 17px;
    background: url('/static/img/icons/checkbox.png?e983a563db37') no-repeat center center;
    background-size: contain
}
 
*,
*:before,
*:after{
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.select {
    display: inline-block;
    vertical-align: top; 
    max-width: 245px;
    width: 60px;
}
.select-wrap {
	max-width: 700px;
	width: 100%;
	margin: 20px auto;
}

.select-wrap select {
	margin: 20px;
}

.select__gap {
	background: rgb(219, 219, 219);
	color: #111;
	border-radius: 2px;
	text-transform: none;
	font-size: 9pt;
	padding: 10px 15px 10px 6px;
	cursor: pointer;
    position: relative;
    line-height: 6px;
    text-align: left;
}

.on.select__gap,
.select__gap:hover {
  color: #222;
} 

.select__list {
	background: #dadada;
	margin: 3px 0 0 0;
    position: absolute;
    border-radius: 2px;
    z-index: 111;
}

.select__list.on {
	display: block;
}

.select__item span {
	display: block;
    width: 60px;
	padding: 5px 9px;
	cursor: pointer;
    color: #333;
}
.select__item:hover span{
    background: rgba(0,0,0,0.08);
}

.select__item.selected,
.select__item span:hover {
	color: #222;
}

.select__gap:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: 1px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #444;

	-webkit-transition: all .27s ease-in-out;
	     -o-transition: all .27s ease-in-out;
	        transition: all .27s ease-in-out;

	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	     -o-transform: rotate(0deg);
	        transform: rotate(0deg);
}

.select__gap:after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -11px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #444;

	-webkit-transition: all .27s ease-in-out;
	     -o-transition: all .27s ease-in-out;
	        transition: all .27s ease-in-out;

	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.breadcrumb{
    display: inline-block;
    margin-top: 30px;
    line-height: 20px
}
.breadcrumb>* {
    float: left
}
.breadcrumb>*:not(:first-child):before {
    content: '';
    float: left;
    width: 6px;
    height: 6px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    transform: rotate(45deg);
    margin: 7px 8px 0 6px
}
.form-box{
    width: 45%;
    margin: 0 auto;
}
.table {
    display: table
}

.table .tr {
    display: table-row
}

.table .td {
    display: table-cell;
    vertical-align: top
}

.card-box{
    margin-top: 25px;
    border-top: 1px solid #dcdcdc;
    padding-top: 20px;
}
.card-box .info .h-info{
    float: left;
    max-width: 60%;
}
.h-info p{
    font-size: 16pt;
}
.h-info h1{
    line-height: 30pt;
    margin-bottom: 21px;    
}
.card-box .info .p-info{
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    text-align: right;
}
.card-box .info .price{
    font-size: 24pt;
    font-weight: 800;
    color: #da2525;
}
@media screen and (max-width: 1280px) {
    .card-box .info .price{
        font-size: 20pt;
    }    
}
.card-box .info span{
    display: inline-block;
}
.card-box .info .price-old{
    font-size: 15pt;
    color: #b3b3b3;
    background-size: 100% 1px;
    background-position: 0 10px;   
    margin-right: 6px; 
}
.info span.netto{
    color: #222;    
}
.info .badge{
    position: absolute;
    bottom: 0;
    right: 0;    
    padding: 4px 9px;
    border-radius: 3px;
    border: 1px solid #5E6364;
    text-align: center;
}
.badge.ok{
    color: forestgreen;
    border-color: forestgreen;
}
.badge.err{
    color: darkred;
    border-color: darkred;
}
.card-box .p-options{
    padding: 20px 30px 20px 30px;
    margin: 20px 0;
    background: #ece0e0;
    color: black;
    line-height: 36px;
    border-radius: 3px;
    min-height: 100px;
}
.add label{
    display: none;
}
.select{
    width: 100px;
}
.select__gap{
    background: #fff;
    padding: 20px;
    text-align: left;  
    font-size: 11pt;  
}
.select__list {
    background: #fff;
    margin: -160px 0 0 0;
    border-radius: 3px;
    max-height: 320px;
    overflow-y: auto;
    box-shadow: 0 5px 26px 0px rgba(0,0,0,0.2);
}
.select__item span {
    width: 100px;
    padding: 5px 9px;
    cursor: pointer;
    color: #333;
}
.select__item:hover span {
    background: rgba(230, 177, 177, 0.18);
}
.p-options form{
    width: 100%;
    text-align: left;
}
.p-options > form > p{
    line-height: 18pt;
    font-size: 13pt;
    margin-bottom: 15px;
    font-family: 'Stem';
}
.subm{
    width: 300px;
    float: right;
    font-family: 'Stem';
    font-size: 13pt;
    padding: 12px;
    line-height: 17pt;
    border-radius: 3px;
    background: #da2525;
    color: #f1f1f1;
    box-shadow: 0 4px 20px 1px rgba(218, 37, 37, 0.52);
    transition: all ease 0.15s;
}
@media screen and (max-width: 1280px) {
    .subm{
        width: 225px;
    }    
}
.subm span{
    border-bottom: 1px dashed #dadaad;
}
.subm:hover{
    box-shadow: none;
}
.subm.added{
    background: #228b22;
    box-shadow: 0 4px 21px 0px rgba(34,139,34,0.5);
}
.full-image{
    width: 100%;
    height: 380px;
    background-size: cover;
    border-radius: 3px;
}
.previews{
    margin-top: 20px;
    text-align: center;
}
.previews .img{
    display: inline-block;
    width: 120px;
    height: 80px;
    border: 2px solid #d6d6d6;
    transition: all ease 0.15s;
    cursor: pointer;
    background-size: cover;
}
.previews img:hover, img.active{
    border: 2px solid #444;
}
.previews img:not(::first-child){
    margin-left: 10px;
}
.card-box .attr-box{
    padding: 15px 0;
    border-top: 1px solid #dcdcdc;
}
.attr-box span{
    font-size: 13pt;
    color: #111;
    font-weight: 800;
    line-height: 13pt;
}
.attr-box p{
    line-height: 13pt;
}
.attr-box.tags{
    border-bottom: 1px solid #dcdcdc;
}
.tags p{
    display: inline-block;
    padding: 4px 6px;
    border-radius: 2px;
    background: #dcdcdc;
    margin: 3px 0;
}
.tags p:not(:last-child){
    margin-right: 4px;
}
.tags .tc{
    margin-top: -6px;
}
.product-card-info{
    width: 100%;
    margin: 25px 0 0 0;
    background: #fff;
    min-height: 340px;
    padding-bottom: 75px;
}
.product-card-info .tabs {
    list-style: none;
    position: relative;
    font-size: 0;
    text-align: center;
    border-bottom: 1px solid #dedede;
    width: 100%
}

.product-card-info .tabs>li {
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 15px 24px;
    cursor: default;
    color: #a3a3a3
}

.product-card-info .tabs>li:hover:not(.active) {
    color: #8d867f;
    background-color: rgba(230, 177, 177, 0.18);;
    cursor: pointer
}

.product-card-info .tabs>li.active {
    color: black;
    box-shadow: inset 0 -2px 0 0 #c81a1b !important;
}

.product-card-info .tabs .ripple {
    width: 1px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ff6c00;
    transition: left .2s, width .2s
}

.product-card-info .texts {
    min-height: 250px;
    padding: 20px 0
}

.product-card-info .texts .text {
    position: relative
}

.product-card-info .texts .text .h2,.product-card-info .texts .text h1,.product-card-info .texts .text .relh {
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0 0 0;
    padding: 0;
    text-transform: none
}

.product-card-info .texts .text .h2:first-child,.product-card-info .texts .text h1:first-child,.product-card-info .texts .text .relh:first-child {
    margin: 0
}

.product-card-info .texts .text p {
    padding: 4px 0;
    margin: 0;
    line-height: 24px
}

.product-card-info .texts .text a {
    color: #0084ff;
    text-decoration: underline
}

.product-card-info .texts .text a:hover {
    color: #ff6c00
}

.product-card-info .texts .text ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.product-card-info .texts .text li {
    padding: 4px 0 4px 18px;
    list-style: none;
    line-height: 20px;
    position: relative
}

.product-card-info .texts .text li:before {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    content: '\2014'
}
.product-card-info .instr{
    margin-top: 45px;
    padding: 14px 18px 16px 18px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #dedede;
    background: rgba(230, 177, 177, 0.18);
}
.instr .step{
    width: 30%;
    margin-right: 5%;
    text-align: center;
}
.instr .step:last-child{
    margin-right: 0;
}
.step img{
    width: 50%;
    margin: 0 25%
}
.step p{
    font-size: 14pt !important;
}