{% extends 'generic.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/_index.css"/>
{% endblock %}

{% block script %}
<script src="/static/js/common/slick.min.js"></script>
{% endblock %}

{% block content %}
    <div class="slider col-100">
        {% for sl in carousel.slides.all %}
        <div class="slide col-100" style="background-image:url('media/{{ sl.background }}')">
            <div class="billet center">
                <h2>{{ sl.title }}</h2>
                <p>{{ sl.subtitle }}</p>
                {% if sl.button %}
                <a href="{{ sl.link }}" class="link-btn stem">{{ sl.button_text }}</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="bullets-box col-100">
        <div class="m-content bullets stem">
            <div class="bullet"><i class="fa fa-globe fa-lg" aria-hidden="true"></i>Сорта со всего мира</div>
            <div class="bullet"><i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i>Всегда в наличии</div>
            <div class="bullet"><i class="fa fa-comments-o fa-lg" aria-hidden="true"></i>Профессиональные консультации</div>
            <div class="bullet"><i class="fa fa-snowflake-o fa-lg" aria-hidden="true"></i>Правильные условия хранения</div>
        </div>
    </div>
    <div class="m-content crsl">
        <h2 class="col-100 center">Популярные категории</h2>
        <div class="popcat carousel col-100">
            {% for c in popcats.category.all %}
            <div class="card">
                <a href="{{ c.get_absolute_url }}">
                <div class="preview col-100" style="background-image:url('media/{{ c.preview }}')"></div>
                <h3>{{ c.name }}</h3></a> 
            </div>          
            {% endfor %}
        </div>
        <div class="line"></div>
    </div>
    {% for set in sets %}
    <div class="m-content sets">
        <h2 class="col-100 center">{{ set.name }}</h2>
        <div class="row col-100">
            {% for p in set.products.all|slice:':6' %}
            <div class="item-box">
                <a href="{% url 'teashop:ProductIntView' p.slug %}">
                <div class="product">
					{% for i in p.images.all|slice:':1' %}
					<div class="p-img pvw" style="background-image:url('/media/{{ i.image }}')"></div>
					{% endfor %}
					<h3 class="taleft">{{ p.name }}</h3>
					<p class="brief taleft stem">{{ p.brief }}</p>
					<div class="pricing taleft">
						{% if p.price_discounted %}
						<p class="price old">{{ p.get_full_price|floatformat }}</p>
						<p class="price">{{ p.get_full_discount|floatformat }} {{ common.currency }}</p>
						{% else %}
						<p class="price">{{ p.get_full_price|floatformat }} {{ common.currency }}</p>
						{% endif %}
						<p class="netto">за {{ p.netto }}{% if p.unit == 'wt' %}шт.{% else %}гр.{% endif %}</p>
					</div>
    			</div></a>	
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="m-content blog">
        <h2 class="col-100 center">Блог о чае</h2>
        <div class="row">
            {% for pt in posts|slice:':1' %}
            <a href="{% url 'blog:PostDetail' pt.slug %}">
            <div class="post-main col-55" style="background-image:url('media/{{ pt.preview }}')">
                <div class="overlay-pt">
                    <div class="details">
                        <h4>{{ pt.title }}</h4>
                        <p>{{ pt.teaser }}</p>
                    </div>
                    <span class="date stem">{{ pt.pub_date }}</span>
                </div>
            </div>
            </a>
            {% endfor %}
            <div class="latest col-42 col-offset-3">
                {% for pt in posts|slice:'1:4' %}
                <a href="{% url 'blog:PostDetail' pt.slug %}">
                <div class="post">
                    <div class="preview" style="background-image:url('media/{{ pt.preview }}')"></div>
                    <span class="date stem">{{ pt.pub_date }}</span>
                    <h4>{{ pt.title }}</h4>
                    <p>{{ pt.teaser }}</p>
                </div>
                </a>
                {% endfor %}
                <a href="{% url 'blog:PostList' %}" class="blog-button stem center">Читать все статьи</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block innerscript %}
<script>
$(document).ready(function(){
    $('.slider').slick({
    	slidesToShow: 1,
      	slidesToScroll: 1,
    	dots: true,
    	arrows: false,
    	autoplay: true,
    	autoplaySpeed: 15000,
    });
    $('.carousel').slick({
    	slidesToShow: 3,
      	slidesToScroll: 1,
    	dots: false,
    	arrows: true,
    	autoplay: false,
    });    
});
</script>
{% endblock %}
{% block widget %}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?139"></script>
    <script type="text/javascript">
      VK.init({
        apiId: 5893761,
        onlyWidgets: true
      });
    </script>
    <script type="text/javascript">
    VK.Widgets.AllowMessagesFromCommunity("vk_allow_messages_from_community", {}, 132900470);
    </script>
{% endblock %}