{% extends "mobile/generic.html" %}

{% block title %}
  <title>Оформление заказа</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/mobile/_cart_detail.css"/>
{% endblock %}

{% block content %}
<div class="m-content tnk">
  <h1><i class="fa fa-check-circle" aria-hidden="true" style="color:green"></i></br>Спасибо за заказ</h1>
  <p>Идентификатор вашего заказа: {{ order.id }}</p>
  <a href="{% url "teashop:Index" %}"><button class="cshop control stem fs-12">Вернуться в магазин</button></a>
</div>
{% endblock %}
